<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061926225776-dhsabg55kqjaf7d7nqcacculahb3e0g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061926225776-dhsabg55kqjaf7d7nqcacculahb3e0g9</string>
	<key>API_KEY</key>
	<string>AIzaSyBm9KJcl7tyD0aPJyFwS-0F6jPglCfbQdM</string>
	<key>GCM_SENDER_ID</key>
	<string>1061926225776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xezom.BitCheckerChat</string>
	<key>PROJECT_ID</key>
	<string>bitcheckerchat</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcheckerchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061926225776:ios:a7758edf5f490bf5d8f1b5</string>
</dict>
</plist>